html {
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: 'Open Sans', Fallback, sans-serif;
}

footer {
    height: 50px;
    line-height: 50px;
    color: white;
    text-align: center;
    background-color: #39c9da;
    vertical-align: middle;
    clear: both;
}

header {
    background-image: url(images/road.jpeg);
    background-position: bottom;
    position: relative;
    text-align: center;
    height: 580px;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    font-weight: bold;
    padding-right: 2%;
    padding-top: 40px;
    text-transform: uppercase;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2% 3%;
    text-decoration: none;
}

img.chsize {
    width: 100%;
    height: 100%;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 5%;
    padding: 1%;
    background-color: #39c9da;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.htext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 504px;
    max-height: 69px;
    padding-top: 260px;
    padding-bottom: 40px;
    color: white;
    text-align: center;
}

.container {
    background-color: #f6f6f6;
}

.aboutus {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.portfolio {
    display: block;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.services {
    display: block;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 60px;
    padding-top: 60px;
}

.contactus {
    max-width: 1200px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 60px;
    padding-bottom: 147px;
    margin-left: auto;
    margin-right: auto;
}

.contactus, .portfolio {
    background-color: #f6f6f6;
}

.my-flex-container {
    display: flex;
    padding-top: 40px;
    flex-wrap: wrap;
    align-items: center;
    ;
    justify-content: center;
}

.cblock {
    max-width: 571px;
    height: 65%;
    margin: 1%;
}

.text {
    padding-top: 29px;
    padding-bottom: 26px;
    color: #a8a8a8;
}

.fblock {
    max-width: 272px;
    max-height: 299px;
    margin-left: 1%;
    margin-right: 1%;
}

.img {
    padding-top: 28px;
    padding-bottom: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.caption {
    font-weight: bold;
    color: #504f50;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.ftext {
    padding-top: 33px;
    color: #504f50;
    display: block;
    text-align: center;
}

button.fbutton {
    margin: 30px auto;
    max-width: 130px;
    max-height: 35px;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    text-align: center;
}

button:enabled {
    background-color: #4b4a4b;
    color: #fff;
}

button:disabled {
    background-color: #b1b5bc;
    color: #9ca1a8;
}

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position: fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:2% auto 0px auto;
    width: 80%;
    height: 40%;
    padding:1%;
    border-radius:5px;
}

.fimg {
    width: 370px;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 1%;
    margin-right: 1%;
}

.fcaption {
    position: relative;
    left: 0;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 25px;
    background: #fff;
    font-size: 13px;
    font-weight: bold;
    color: #504f50;
    text-transform: uppercase;
}

.fcaption2 {
    position: relative;
    bottom: 40px;
    right: 5%;
    text-align: right;
    font-size: 12px;
    font-style: italic;
    color: #aba7ab;
}

h3 {
    font-family: 'Open Sans Bold';
    color: #505256;
    text-transform: uppercase;
    text-align: center;
}

h5 {
    color: #505256;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    width: 60%;
    margin: 0 auto;
    color: #a8a8a8;
    text-align: center;
}

.row {
    display: inline-block;
    padding-top: 30px;
    width: 100%;
}

input {
    color: #a8a8a8;
    max-height: 45px;
    border: 0;
    padding: 1%;
    font-size: 14px;
}

input.txt1 {
    width: 45%;
    padding: 1%;
}

input.txt {
    width: 93%;
    padding: 1%;
}

textarea {
    border: 0;
    width: 93%;
    padding: 1%;
    min-height: 100px;
}

.bc {
    width: 100%;
    height: 100%;
}
